# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

alias cls='clear'

# Eza: ls replacement
# https://github.com/eza-community/eza?tab=readme-ov-file
alias ls="eza --icons=auto --group-directories-first"
alias ll="eza -lh --icons=auto --group-directories-first"
alias la="eza -lAh  --icons=auto --group-directories-first"

alias tree="eza --tree --icons=auto"

# bat: cat replacement
# https://github.com/sharkdp/bat
alias cat='bat --paging=never'

# zoxide
alias cd="z"
alias cdi="zi"

# kubectl
alias k="kubectl"
alias kctx="kubectl-ctx"
alias kns="kubectl-ns"

# Git
alias gst="git status"
alias gb="git branch"
alias gco="git checkout"
alias gl="git log --oneline --decorate --color"
alias amend="git add . && git commit --amend --no-edit"
alias gc="git add . && git commit -m"
alias gdiff="git diff"
alias gforce="git push --force"
alias nuke="git clean -df && git reset --hard"
alias gpop="git stash pop"
alias gpull="git pull"
alias gpush="git push"
alias gresolve="git add . && git commit --no-edit"
alias gstash="git stash -u"
alias gunstage="git restore --staged ."
alias wip="commit wip"
